body {
    font-family: 'Quicksand-Light';
    font-size: 20px;
    color: black;
}

<title>NvBar</title> * {
    margin: 0;
    padding: 0;
}

ul.firstlist {
    /* remove the bullet points */
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-top: none;
}

li {
    /* float first and thenwe will switch to inline */
    /* float: left; */
    /* use inline */
    display: inline-block;
}

li a {
    /* anchor tags by default display inline, here we are telling them to behave like a block element. Making the anchor block and adding dimensions padding we get a bigger clickable area for the user to select*/
    display: block;
    text-align: center;
    width: 100px;
    height: none;
    padding: 10px;
    /* remove that ugly underline and color */
    text-decoration: none;
}

li a:hover {
    color: white;
}

h1 {
    font-family: Quicksand-Light;
    font-size: 28px;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    position: left;
}

h2 {
    font-family: Quicksand-Light;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

p {
    font-family: Quicksand-Light;
}


/*Use a tag selector to add a transparent background to all divs on our page so w can select them. */

div {
    background-color: rgba(0, 0, 0, 0);
}


/*making an unordered list without the bulletpoints*/

ul.secondlist {
    list-style: none;
    font-family: Quicksand-Light;
    text-align: left;
}

a:link {
    text-decoration: none;
    color: #999;
}


/* visited link */

a:visited {
    text-decoration: none;
    color: #999;
}


/* mouse over link */

a:hover {
    text-decoration: none;
    color: #999;
}


/* selected link */

a:active {
    text-decoration: none;
    color: #999;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Fixed width container and grid using pixels */

.container {
    /* starter width in pixels, divs display block by default*/
    width: 900px;
    height: 40px;
    margin: 0px auto;
    padding: 20px;
    /*padding ads to the width dimension of our element. our 900px container now takes up 940 px of the screen */
}

.container {
    /* starter width in pixels, divs display block by default*/
    width: 900px;
    height: 40px;
    margin: 0px auto;
    padding: 20px;
    /*padding ads to the width dimension of our element. our 900px container now takes up 940 px of the screen */
}

#container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#container .image-container img {
    max-width: 10px;
    max-height: 60px;
}


/*Aligning the text for the header*/

.intro-header {
    text-align: center;
}


/*is concerned with the list of the ingredients*/

.thumbnail {
    width: 700px;
    height: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    background-color: none;
}


/*how to clear fix. aka avoid collapsed container element when floating child elements*/


/*solution 1: ad an element after our last floated element with clear both and no height. This is less good. We are using HTML content to control out presentation which should be handled by CSS alone*/

.clear {
    clear: both;
}


/*Solution 2: using CSS alone and a clearfix class which we apply to any element who has floating children */

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
    /*for backward compatibility*/
    height: 0;
    font-size: 0;
    /*extra backup*/
    visibility: hidden;
}


/* fluid layouts using % */

.thumbnail-fluid {
    width: 70%;
    margin: 0 1%;
    /*redefine our grid: 25% - 1%*2 */
    width: 90%px;
    height: 900px;
    float: left;
}


/*More Math to Modify Our Pixel based layout to account for Borders and Padding*/

.thumbnail-border {
    width: 900px;
    height: 50px;
    float: left;
    /**/
    border-style: none;
    border-width: 1px;
    border-color: #88976D;
    /* 900px - 2*6px*/
    width: 898px;
    /**/
}


/*More Math to Modify Our Pixel based layout to account for Borders and Padding*/

.thumbnail-border-padding {
    width: 600px;
    height: 200px;
    float: right;
    width: 300px;
    margin: 0 10px;
}

.container1 {
    width: 900px;
    margin: 0 auto;
}

.polaroid {
    position: relative;
    width: 580px;
    display: inline-block;
    margin: 20px;
}


/* descedant selector to only target images within the polaroid divs */

.polaroid img {
    width: 100%;
    height: auto;
    border: 10px solid white;
    border-bottom-width: 45px;
    /* box-shadow: x shadow width | y shadow height | blur | spread | color */
    -webkit-box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 0.5);
    /* older chrome and safari */
    -moz-box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 0.5);
    /* older forefox */
    box-shadow: 5px 5px 5px 5px rgba(10, 10, 10, 0.5);
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 600px;
    bottom: 0px;
    color: #888;
}
