body {
    font-family: 'Quicksand-Light';
    font-size: 20px;
    color: black;
    background-color: #d1d1d1;
}

<title>NvBar</title> * {
    margin: 0;
    padding: 0;

}



.image{
    
    width:400px;
    position:relative;
    float: left;
    z-index: 1;
    padding: 20px;
}

ul.firstlist {
    /* remove the bullet points */
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    border-top: none;
    position: relative;
float:right;

}

ul.secondlist {
    width: 300px;
    padding-left: 5px;
    padding-right: none;
    overflow: hidden;
    background-color: none;
    border-top:none;
     position: relative;

    

}



ul.title{
    padding: 0px 0px 0px 0px;
    width: 300px;
     /* Stay in place */
    z-index: 2;
    position: relative;

}

span {
    color: #999;
   
    font-size:30px;
    cursor:pointer;
    position: relative;
    float: right;
    }
span:hover {
    color: white;
    position:relative;
   
    float:right;
}

li {
    /* float first and then we will switch to inline */
    /* float: left; */
    /* use inline */
    display: inline-block;
}

li a {
    /* anchor tags by default display inline, here we are telling them to behave like a block element. Making the anchor block and adding dimensions padding we get a bigger clickable area for the user to select*/
    display: block;
    text-align: center;
    width: 100px;
    height: none;
    padding: 10px;
    /* remove that ugly underline and color */
    text-decoration: none;
}

li a:hover {
    color: black;
}

h1 {
    font-family: Quicksand-Light;
    font-size: 28px;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    position: right;
}

h2 {
    font-family: Quicksand-Light;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3{
    font-family: Quicksand-Light;
    font-size:22px;
    color: black;
    font-weight: 600;
    line-height: 16px;
}



p {
    font-family: Quicksand-Light;
}


/*Use a tag selector to add a transparent background to all divs on our page so w can select them. */

div {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    position:relative;
   

}


div.header {
    max-width: 1400px;
    height:200px;
    background-color: white;
    border: 50px solid #d1d1d1;
    position:relative;
}
/*making an unordered list without the bulletpoints*/

ul.secondlist {
    list-style: none;
    font-family: Quicksand-Light;
    text-align: left;
}

a:link {
    text-decoration: none;
    color: #999;
}


/* visited link */

a:visited {
    text-decoration: none;
    color: #999;
}


/* mouse over link */

a:hover {
    text-decoration: none;
    color: #999;
}


/* selected link */

a:active {
    text-decoration: none;
    color: #999;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color:  #d1d1d1;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 4px 4px 4px 22px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Fixed width container and grid using pixels */

.container {
    /* starter width in pixels, divs display block by default*/
    width: 900px;
    height: 40px;
    margin: 0px auto;
    padding: 20px;
    /*padding ads to the width dimension of our element. our 900px container now takes up 940 px of the screen */
}

.container {
    /* starter width in pixels, divs display block by default*/
    width: 900px;
    height: 40px;
    margin: 0px auto;
    padding: 20px;
    /*padding ads to the width dimension of our element. our 900px container now takes up 940 px of the screen */
}

#container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#container .image-container img {
    max-width: 10px;
    max-height: 60px;
}


/*Aligning the text for the header*/

.intro-header {
    text-align: center;
}


/*is concerned with the list of the ingredients*/

.thumbnail {
    width: 700px;
    height: 500px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: left;
    background-color: none;
}


/*how to clear fix. aka avoid collapsed container element when floating child elements*/


/*solution 1: ad an element after our last floated element with clear both and no height. This is less good. We are using HTML content to control out presentation which should be handled by CSS alone*/

.clear {
    clear: both;
}


/*Solution 2: using CSS alone and a clearfix class which we apply to any element who has floating children */

.clear-fix::after {
    content: '';
    display: block;
    clear: both;
    /*for backward compatibility*/
    height: 0;
    font-size: 0;
    /*extra backup*/
    visibility: hidden;
}


/* fluid layouts using % */

.thumbnail-fluid {
    width: 70%;
    margin: 0 1%;
    /*redefine our grid: 25% - 1%*2 */
    width: 90%px;
    height: 900px;
    float: left;
}


/*More Math to Modify Our Pixel based layout to account for Borders and Padding*/

.thumbnail-border {
    width: 900px;
    height: 50px;
    float: left;
    /**/
    border-style: none;
    border-width: 1px;
    border-color: #88976D;
    /* 900px - 2*6px*/
    width: 898px;
    /**/
}














