/* transparent blue bg, and minimum height so we can keep track of our divs and semantic markup elements without having to add content. */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

div,
header,
footer,
section,
aside,
article,
main {
    min-height: 10px;
    /* RGBA color, red, green, blue (0-255) and alpha (0-1) */
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.container {
    width: 400px;
    display: inline-block;
    height: 80px;
    margin-right: 10px;
    padding: 0;
}

body {
    font-family: 'Quicksand-Light';
    font-size: 20px;
    color: black;
    background-color: #b295a8;
    /*#dedede;*/
}

div.wrapper {
    width: 1300px;
    /* use margin 0 auto to center our wrapper div within the browser window */
    margin: 0 auto;
    /* add a little padding so we can see how child elements stack more clearly */
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 101;
    background-color: white;
}
/*-----------------------------------------------------------------------------------------------*/
/* My icons in the header and the footer */
div {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

div.header {
    max-width: 1400px;
    height: 150px;
    background-color: white;
    position: relative;
}
div.footer {
    max-width: 1400px;
    height: 150px;
    background-color: white;
    position: relative;
    text-align: center;
    word-spacing: 1em;
}

div.copyright {
    word-spacing: 0em;
}
.icons {
float: right;
display: inline-block; 
z-index: 3;
text-align: left;
position: absolute;
right:0px; 
top: 0px;
word-spacing: 1em;
padding: 20px 43px;
}



.fa {
    color: #dedede;
}
.fa:hover{
    color: #b295a8;
    /*color: #a7914a;*/
}
header
footer {
    width: 100%;
    background-color: white;
}
.icons.footer {
padding: 0px 13px;
word-spacing: 1em;
}
/*-----------------------------------------------------------------------------------------------*/



/* Define these after adding to html! Notice the clear issue with floating! */

article {
    width: 1300px;
    float: none;
    margin: 0px 20px;
    width: 1280px;
    /* option 2:  add some margins; */
    /* 600-20-20=560px */
    /* width: 560px;
            margin: 0px 20px; */
            height: 100%;
}

br.clear {
    clear: both;
    height: 0;
}

.image {
    width: 400px;
    position: relative;
    padding: 0px 20px;
}

ul.firstlist {
    /* remove the bullet points */
    height: 100px;
    background-color: white;
    padding: 30px 0px;
    float: right;
    z-index: 10;


}

ul.dropdown-list{
    text-align:center;
    overflow: hidden;
    border-top: none;
    text-decoration: none;
    padding: 0px 0px;
}

ul.secondlist {
    width: 300px;
    padding-left: 5px;
    padding-right: none;
    overflow: hidden;
    background-color: none;
    border-top: none;
    position: relative;
    margin: 0;
    padding: 0;
}

ul.title {
    padding: 0px 0px 0px 0px;
    width: 300px;
    /* Stay in place */
    z-index: 2;
    position: relative;
}

span {
    color: #999;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    float: right;
}

span:hover {
    color: black;
    position: relative;
    float: right;
}

li {
    /* float first and then we will switch to inline */
    /* float: left; */
    /* use inline */
    display: inline-block;
}

li a {
    /* anchor tags by default display inline, here we are telling them to behave like a block element. Making the anchor block and adding dimensions padding we get a bigger clickable area for the user to select*/
    display: block;
    text-align: center;
    width: 100px;
    height: none;
    padding: 10px;
    /* remove that ugly underline and color */
    text-decoration: none;
}

li a:hover {
    color: black;
}

h4:hover {
    color: #a7914a;
}


/*-----------------------------------------------------------------------------------------------*/


/* Main image and main text - opacity, hovering, text styles*/

div.maincontainer {
    width: 1300px;
    height: 500px;
    margin: 0;
    padding: 0;
}
.contactcontainer {
    width: 1300px;
    height: 600px;
    margin: 0;
    padding: 40px 0px;
}


.mainimage {
    display: block;
    margin: 0;
    padding: 0;
    width: 1300px;
    height: 600px;
    background-image: url(img/image_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    transition: opacity .5s ease-out;
    position: relative;
    z-index: 3;
}
.contactimage {
    display: block;
    margin: 0;
    padding: 0;
    width: 1300px;
    height: 600px;
    background-image: url(img/image_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    transition: opacity .5s ease-out;
    position: relative;
    z-index: 3;
}

.mainimage:hover {
    opacity: 0.5;
    

}

.contactimage:hover {
    opacity: 0.3;


}


.imagetitle {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    top: 40%;
    left: relative;
    text-align: center;
    padding: 2%;
    height: 200px;
    color: black;
    opacity: 1;
    transition: none;
    position: absolute;
    z-index: 100;
    transition: all 1s ease;
}

a:link {
    text-decoration: none;
    color: #999;

}
a.info:link{
   text-decoration: none;
    color: black;
}  



/* visited link */
 

a:visited {
    text-decoration: none;
    color: #999;
}

a.info:visited{
   text-decoration: none;
    color: black;
}  


/* mouse over link */

a:hover {
    text-decoration: none;
    color: black;

}


/* selected link */

a:active {
    text-decoration: none;
    color: black;
}


button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    font-weight: 200;
}

a.info {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 0px;
    background-color: transparent;
    text-decoration: none;
    font-weight: 200;
}

a.info:hover,
button:hover
{ border: 2px solid black;
background-color: transparent;
color: black;
font-weight: 900;
text-transform: uppercase;
}



/*-----------------------------------------------------------------------------------------------*/


/* All font styles */

h1 {
    font-family: Quicksand-Light;
    font-size: 16px;
    color: black;
    font-weight: 900;
}

h2 {
    font-family: Quicksand-Light;
    font-color: black;
    font-size: 20px;
    font-style: solid;
    font-variant: normal;
    font-weight: 200;
    line-height: 26.4px;
    border: 0.5px black;
    background-color: transparent;
}

h3 {
    font-family: Quicksand;
    font-size: 22px;
    color: black;
    font-weight: 900;
    line-height: 16px;
}

h4{ 
    font-family: Quicksand;
    font-size: 10px;
    color: black;
    font-weight: 900;
    line-height: 14px;
    z-index: 1000;
}

    h4:hover{
    font-size: 15px;
    transition-timing-function: ease-in-out;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);



    }



h5 {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  font-size: 20px;
  color: #999;
}

h5:hover {
    color: black;
}

h5:before,
h5:after {
  background: #ddd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 1200px;
}

h5:before {
  right: 10%;
}

h5:after {
  left: 10%;
}


h6{
    color: #999;
    font-size: 14px;
   
}

 p {
    font-family: Quicksand-Light;
    font-size: 16px;
    color: black;
    font-weight: 900;
}


.container-title {
  overflow: hidden;
  text-align: left;
}

/* DROPDOWN MENU */

nav ul {
    list-style: none;
    float: center;
    z-index: 1000;
}



nav ul li:hover {
    background-color: transparent;
    z-index: 1000;

}

.dropdown {
    position: relative;
    display: inline-block;
    height: 20px;




}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

      


    padding: 12px 16px;
    z-index: 10;
    font-size: 10px;
    text-align:center;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* make the anchor tags in nav display block for clickability */

/*nav ul a {
    color: black;
    text-decoration: none;
    line-height: 20px;
    padding: 0px;

    z-index: 100;
   

}*/



/*Use a tag selector to add a transparent background to all divs on our page so w can select them. */





/* Fixed width container and grid using pixels */

/*Container with 3 images*/

.container {
    /* starter width in pixels, divs display block by default*/
    width: 100%;
    display: inline-block;
    height: auto;
    margin: 0px 0px;
    padding: 0px;
    /*padding ads to the width dimension of our element. our 900px container now takes up 940 px of the screen */
}

#container .image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 0px;
    border: 0;
}

#container .image-container img {
    max-width: 10px;
    max-height: 60px;
}


/*Aligning the text for the header*/

.intro-header {
    text-align: center;
}



/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/


/* =============================================================================
   Site Styles
   ========================================================================== */


/* Jumbotron/Hero Styles */

div.hero {
    width: 100vw;
    /* height: 100vh; */
    position: relative;
    margin-bottom: 25px;
}

.hero img {
    width: 100%;
    /* height: 100%; */
}

.hero article {
    position: absolute;
    width: 50%;
    top: 60%;
    right: 0%;
    padding: 2%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,0000ff+100&0.5+0,0.3+100 */
    background: -moz-linear-gradient(left, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0.3) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0.3) 100%);
    /* Chrome10-25,Safari5.1-6 */   
    background: linear-gradient(to right, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0.3) 100%);    
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80ff0000', endColorstr='#4d0000ff', GradientType=1);
    /* IE6-9 */
}


/* Portfolio Hover Animation */

.thumb {
    position: relative;
    /* when we scale our image on hover clip the overflow */
    overflow: hidden;
}

/*for all the text*/
.mask {
    padding-top: 0%;
    width: 378px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50%;
    opacity: 0;
    transition: all 1s ease;
}

.mask p {
    
    font-weight: 900;
}



a.info,
button:hover,
{
    background-color: transparent;
}

.thumb:hover .mask {
    opacity: 1;
}


/* initial values for our hidden items */

.thumb .mask h2,
.thumb .mask p,
.thumb .mask a {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
}


/* scale and make opaque on hover */

.thumb:hover .mask h2,
.thumb:hover .mask p,
.thumb:hover .mask a {
    opacity: 1;
    transform: scale(1);
}


/* prepare some initial values for our image to change on hover */

.thumb img {
    transform: scale(0.3);
    transform: rotate(0deg);
    transition: all 1s ease;
}

.thumb:hover img {
    transform: scale(1.5) rotate(0deg);
}



/* =============================================================================
   Page Styles
   ========================================================================== */


/* =============================================================================
   Media Queries
   ========================================================================== */


/* Tablet Portrait size to Base 996px */

@media only screen and (min-width: 768px) and (max-width: 995px) {}


/* All Mobile Sizes */

@media only screen and (max-width: 767px) {}


/* Mobile Landscape Size to Tablet Portrait */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Mobile Portrait Size to Mobile Landscape Size */

@media only screen and (max-width: 479px) {}


/* =============================================================================
   Font-Face
   ========================================================================== */


/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }


